.App {
  height: 100vh;
}
.output {
  width: 30vw;
  margin: 10px auto;
}
section {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: relative;
}

label::after {
  content: "*";
  color: red;
}

input {
  height: 32px;
  width: 100%;
  outline: none;
  border-radius: 5px;
}
input:focus {
  border: 2px solid blue;
}

.search_options {
  border: 1px solid gray;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  width: 30vw;
  border-radius: 5px;
  max-height: 180px;
  overflow-y: scroll;
  background-color: white;
}
.outline {
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
}
.search_options::-webkit-scrollbar {
  width: 5px;
}
.search_options::-webkit-scrollbar-track {
  background: lightgray;
}

.search_options::-webkit-scrollbar-thumb {
  background: darkgray;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 6px;
}
